main .posts {
    display: flex;
    flex-wrap: wrap;
    gap: 10px
}

main a {
    min-width: 300px;
    max-width: 375px;
    text-decoration: none;
    color: black
}

main .img {
    position: relative;
    width: 100%;
    height: 95px;
    text-align: center;
}

main .img::before {
    content: '';
    display:block;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0.75) 0%, transparent 95%);
}

main .img::after {
    content: 'Ver mais...';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -45%);
    display: block;
    padding: 10px 20px;
    border: 1.5px solid var(--cor-branco);
    border-radius: 10px;
    color: var(--cor-branco);
    text-shadow: 1px 1px 17px black;
}

@media screen and (min-width: 796px) {
    main .titulo,
    main .titulo ~ p {
        text-align: center;
    }
    main .posts {
        justify-content: center;
    }
}