@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    /* para celulares (somente cor): */
    --cor-bg-header: #cc70cc;
    --cor-bg-nav: #b362b3;
    --cor-bg-nav-item-hover: #aa60aa;
    --cor-bg-nav-sub: #aa63aa;
    --cor-bg-h1-header: #0000006e;
    --cor-bg-main: #f9fdff;
    --cor-bg-fade: #0000008a; 
    --cor-branco: white;
    --cor-preto: black;
    --cor-bg-footer: #231123;
    --roxo-escuro: #231123;
    --roxo-claro: #82204A;
    --verde: #8EA604;
    --laranja: #FF9F1C;
    --rosa-claro: #EBD6EB;
    --background: #F8F1F8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, Ubuntu, sans-serif;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 90px;
    background: var(--cor-bg-header);
}

header .container {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 4;
}

header .hamburger {
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 10%;
    background: var(--cor-bg-nav);
}

header .hamburger::before {
    content: '';
    position: absolute;
    top: 20%;
    right: 1px;
    width: 90%;
    height: 20%;
    border-radius: 20px;
    background: var(--cor-branco);
    transition: 1s ease-in-out;
    z-index: 3;
}

header .hamburger::after {
    content: '';
    position: absolute;
    top: 60%;
    right: 1px;
    width: 50%;
    height: 20%;
    border-radius: 20px;
    background: var(--cor-branco);
    transition: 1s ease-in-out;
}

header #menuHambId:checked ~ .container .hamburger::before {
    transform: rotate(225deg);
    top: 44%;
}

header #menuHambId:checked ~ .container .hamburger::after {
    transform: rotate(-405deg);
    top: 44%;
    width: 90%;
}

header nav {
    position: fixed;
    top: 0;
    left: -72%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 100vh;
    background: var(--cor-bg-nav);
    text-align: center;
    z-index: 3;
    transition: .5s ease;
}

header .fade {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background: var(--cor-bg-fade);
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

header #menuHambId:checked ~ nav {
    transform: translateX(100%);
}

header #menuHambId:checked ~ .fade {
    display: block;
}

header nav ul {
    width: 100%;
}

header nav li {
    display: flex;
    align-items: center;
    min-height: 60px;
    width: 100%;
    padding-left: 40px;
    list-style: none;
    cursor: pointer;
    transition: all .5s ease;
}

header nav li:hover {
    background: var(--cor-bg-nav-item-hover);
}

header nav a {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 100%;
    color: var(--cor-branco);
    text-decoration: none;
}

header .titulo {
    padding: 20px;
    width: 100%;
    text-align: center;
    color: var(--cor-branco);
}

header .titulo h1 {
    display: block;
    font-size: 2em;
    margin: 0;
    font-weight: bold;
    unicode-bidi: isolate;
}

header .titulo-pagina h2,
main .titulo-pagina h2 {
    font-size: 1.5em;
    margin: 0;
    font-weight: bold;
    unicode-bidi: isolate;
}

section {
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--background);
    width: 100%;
}

footer {
    width: 100%;
    padding: 20px;
    background: var(--cor-bg-footer);
    text-align: center;
    color: var(--cor-branco);
}

footer h2 {
    font-size: 1.15rem;
}

footer .paginas ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    border-top: 1px solid var(--cor-branco);
    list-style-type: none;
    cursor: pointer;
}

footer .paginas ul li {
    padding: 5px;
}

footer .paginas a {
    text-decoration: none;
    color: var(--cor-branco);
}